extends ../_layouts/master

block content
    h1 資料頁: #{stock}

    table
       tr 
        th 我是日期
        th 我是開盤價
        th 我是最高價
        th 我是最低價
        th 我是收盤價
        //-  each   stock in stocks
        each price in stockPrice
        tr
            td #{price.date}
            td #{price.open_price}
            td #{price.high_price}
            td #{price.low_price}
            td #{price.close_price}

    .pagination 
    - for(var p = 1; p <= pagination.lastPage; p++)
      a(href=`/stock/${stock.stock_id}?page=${p}`, class=p==pagination.currentPage?"active":"") #{p}
               